<!DOCTYPE html>
<html ng-app="ngMap">
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style>
  map, div[map] {display:block; width:600px; height:400px;}
  pre {margin:0px} h3{margin-bottom:0px}
</style>
<script src="https://maps.google.com/maps/api/js?sensor=false"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-resource.min.js"></script>
<script src="../dist/ng-map.min.js"></script>
<!-- START : ng-map.js 
<script src="../app/scripts/app.js"></script>
<script src="../app/scripts/directives/map.js"></script>
<script src="../app/scripts/directives/marker.js"></script>
<script src="../app/scripts/directives/shape.js"></script>
<script src="../app/scripts/providers/providers.js"></script>
<script src="../app/scripts/services/geo_coder.js"></script>
<script src="../app/scripts/services/navigator_geolocation.js"></script>
END : ng-map.js -->
<script src="scripts/vmap/services/venues.js"></script>
<script src="scripts/vmap/controllers/v_map_controller.js"></script>
</head>

<body>
  <div ng-controller="vMapController">
    <div ng-repeat="venue in venues">[ {{ venue.description }} {{ venue.lng }} - {{ venue.lat }} ]</div><br><br>

    <div id="my-html" style="height:100%">
      <map zoom="11" center="[43.646236419677734, -79.39205932617188]">
        <marker ng-repeat="venue in venues" position="[40.71, -74.21]" title="hello"></marker>
      </map>
    </div>
  </div>
</body>
</html>
