<!doctype html>
<html ng-app="myapp">
  <head>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=weather,visualization,panoramio"></script>
<script src="https://code.angularjs.org/1.3.15/angular.js"></script>
<!--
<script src="../build/scripts/ng-map.min.js"></script>
-->
<script src="../app.js"></script>
<script src="../directives/map_controller.js"></script>
<script src="../directives/map.js"></script>
<script src="../directives/marker.js"></script>
<script src="../directives/shape.js"></script>
<script src="../directives/info-window.js"></script>
<script src="../services/geo_coder.js"></script>
<script src="../services/navigator_geolocation.js"></script>
<script src="../services/attr2_options.js"></script>
<script>
var app = app || angular.module('myapp', ['ngMap']);
app.controller('MyCtrl', function($scope) {
  $scope.clicked = function() {
    alert('Clicked a link inside infoWindow');
  };
});  
</script>
  </head>
  <body>
    <div ng-controller="MyCtrl">
      <map center="41,-87" zoom="3">
        <marker position="41,-87" on-click="showInfoWindow('foo')"></marker>
        <info-window id="foo">
          <div ng-non-bindable="">
            Lat/Lng: {{this.getPosition()}}<br/>
            <a href="#" ng-click="clicked()">Click Here</a>
          </div>
        </info-window>
        <info-window id="bar">
          <div ng-non-bindable="">
            Lat/Lng: {{map.markers[0].getPosition()}}<br/>
            <a href="#" ng-click="clicked()">Click Here</a>
          </div>
        </info-window>
      </map>
      <button ng-click="showInfoWindow($event, 'bar', map.markers[0])">
        Show InfoWindow
      </button>
      <button ng-click="hideInfoWindow($event, 'bar')">
        Hide InfoWindow
      </button>

    </div>
  
  </body>
</html>
